{% extends "layout.html" %}
{% block title %}F5 AFM Statistics App{% endblock %}
{% block header %}
{{super()}}
{% endblock %}
{% block content %}


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit dui eu mi faucibus mollis. Ut convallis sapien a laoreet sagittis. Maecenas dignissim lorem at sem placerat fermentum a non nibh. Donec porta condimentum tempor. Donec in condimentum lorem. Integer lacinia, erat ut semper luctus, ligula eros interdum nunc, eget suscipit ex urna sed leo. Nullam aliquam arcu est, quis mattis arcu dignissim non. Nam massa lacus, tincidunt nec nisi quis, vestibulum viverra velit. Nam malesuada nibh sed erat vestibulum vestibulum. Aenean semper eget eros in consequat.

Curabitur non enim tempus, dignissim neque ac, tincidunt nisi. Nullam nisi nulla, imperdiet ut euismod eget, consequat ac nibh. Nam ac scelerisque nunc, eget imperdiet velit. Mauris urna mi, ullamcorper eu neque ac, semper ultricies tortor. Nulla gravida mattis velit non efficitur. Cras tristique, lectus in maximus porttitor, purus risus hendrerit massa, a aliquam nisi dolor eu urna. Nullam lacinia at ligula ac venenatis. In eget facilisis nisl. Nulla mollis nunc ac est dignissim varius. In arcu ipsum, laoreet sed convallis vitae, aliquam rhoncus eros. Quisque nunc justo, pharetra ut rhoncus non, faucibus vel dolor. Cras mattis tortor quis enim condimentum, ac blandit ligula vulputate. Phasellus facilisis dignissim dolor, aliquet iaculis arcu tincidunt in. Vestibulum aliquet, enim nec porttitor varius, est erat condimentum mi, et malesuada elit quam et dui. 

{% endblock %}
