<!DOCTYPE html>
<html lang='en-US' ng-app="f5app">
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	<script src="{{url_for('static', filename='app.js') }}"></script>
	<script src="{{url_for('static', filename='controllers.js') }}"></script>
	<script src="{{url_for('static', filename='directives.js') }}"></script>
	<title>F5 AFM Statistics App</title>
</head>
<div class="container" ng-cloak>
	{% block header %}
	<div class="jumbotron" ng-controller="HeaderController" ><h1 ng-click="home('{{url_for('home')}}')">F5 AFM Stats</h1>
	</div>
	{% endblock %}
	
	<body >
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	
	</body>
</div>
	{% block scripts %}{% endblock %}


</html>

