{% extends "layout.html" %}

{% block header %}
{{super()}}
{% endblock %}

{% block content %}
<style>
.well{
background-color: rgb(255, 204, 153);
}
</style>	
<span ng-controller="newDeviceController">
	<span ng-init="{{url_for('newDevice')}}">
	<form ng-submit="processForm('{{url_for('home')}}')" name="newDevice" role="form" novalidate="">
		<div class="form-group">
			<label for="hostName">F5 Host Name:</label>
			<input name="hostName" type="text" class="form-control" ng-model="device.hostName" required/>
			<span class="bg-danger text-danger" ng-show="newDevice.hostName.$error.required && newDevice.hostName.$dirty">Host Name is Required</span>
		</div>
		<div class="form-group">
			<label for="ipAddress">Ip Address:</label>
			<input name="ipAddress" type="text" class="form-control" ng-model="device.ipAddress" ip-validate required/>
			<span class="bg-danger text-danger" ng-show="newDevice.ipAddress.$error.required && newDevice.ipAddress.$dirty">IP Address is Required</span>
			<span class="bg-danger text-danger" ng-show="newDevice.ipAddress.$error.validIpAddress && newDevice.ipAddress.$dirty">Invalid IP Address</span>
		</div>
		<div class="form-group">
			<label for="apiUserName">API Username:</label>
			<input name="apiUserName" type="text" class="form-control" ng-model="device.apiUserName"/>
		</div>
		<div class="form-group">
			<label for="apiPassword">API Password:</label>
			<input name="apiPassword" type="password" class="form-control" ng-model="device.apiPassword"/>
		</div>
		<div class="form-group">
			<label for="details">Device Description:</label>
			<textarea name="details" class="form-control" rows="5" ng-model="device.details"></textarea>
		</div>
		<div ng-show="newDevice.$valid"><button type="submit" class="btn btn-success btn-lg btn-block">
				Submit!</button>
		</div>
		<div ng-show="newDevice.$invalid"><div class="well text-warning">
			Complete information to Submit!</div>

		</form>
		

</span>

{% endblock %}
 
{% block scripts %}

<!--SOME VALIDATION SCRIPT IS NEEDED!!!!--!> 

{% endblock %}
